extends ../layouts/base
append config
  - var pageTitle = 'Home page'
block content
  main.home
    section
      .wrapper
        .home__wrapper
          h5.home__wel Welcome to our stores!
          h1.home__name My name is Nora
          .b1.home__desc
            p You can ask me about anything anytime.
            p Let’s go shopping! We got you covered.
