extends ../layouts/base
append config
  - var pageTitle = 'Home page'
block content
  main.my_offers
    include ../components/title-nav
    .wrapper
      .my_offers__wrapper
        .my_offers__item
          .my_offers__item-img(style='background:url(img/my_offers/img.jpg) no-repeat center top / cover')
          .my_offers__item-info
            .my_offers__item-title
              span Avocado Superlarge, Weight from 5kg
            .my_offers__item-price
              span.my_offers__currency $
              span 2 200.00
        .my_offers__item
          .my_offers__item-img(style='background:url(img/my_offers/img-2.jpg) no-repeat center top / cover')
          .my_offers__item-info
            .my_offers__item-title
              span Kiwi Vitamin C God, chinese gooseberry …
            .my_offers__item-price
              span.my_offers__currency $
              span 500.00
        .my_offers__item
          .my_offers__item-img(style='background:url(img/my_offers/img-3.jpg) no-repeat center top / cover')
          .my_offers__item-info
            .my_offers__item-title
              span Banana Hugestpack, the biggest weight…
            .my_offers__item-price
              span.my_offers__currency $
              span 300.00
        .my_offers__item
          .my_offers__item-img(style='background:url(img/my_offers/img-4.jpg) no-repeat center top / cover')
          .my_offers__item-info
            .my_offers__item-title
              span Orange Euphoria Multipacks
            .my_offers__item-price
              span.my_offers__currency $
              span 5 100.00

