footer.footer

  .footer__info-item
    .footer__info-img
      +image('footer','ic-token.svg')
    .footer__info-num
      span.h2 5 000



  .footer__info-item
    .footer__info-img
      +image('footer','ic-savings.svg')
    .footer__info-num
      span.h2 250.00
      span.footer__info-currency
        +image('footer','ic-dollar.svg')



  .footer__info-item
    .footer__info-img
      +image('footer','ic-cart.svg')
    .footer__info-num
      span.h2 35

  .footer__info-item
    .footer__info-img
      +image('footer','ic-summ.svg')
    .footer__info-num
      span.h2 1 250.00
      span.footer__info-currency
        +image('footer','ic-dollar.svg')