section.title-nav
  .wrapper
    .title-nav__wrapper
      h4.h4.title-nav__title !{pageTitle}
      .title-nav__pages-arrows
        .title-nav__pages
          span.title-nav__page-num.current 1
          span.title-nav__page-num /
          span.title-nav__page-num 55
        .title-nav__arrows
          a(href='#').title-nav__arrow-prev
          a(href='#').title-nav__arrow-next
